<div class="use-cache-header">
    <div>
        <label class="cache-container">
            <input class="filled-in" type="checkbox"></input>
            <span class="checkmark">Use Cache
                <small>(Improves Loading speed)</small>
            </span>
        </label>
    </div>
</div>