:global .ct-chart-donut .ct-series-a .ct-slice-donut {
    stroke: #ffffff;
    fill: #0000;
}
:global .ct-chart-donut .ct-series-b .ct-slice-donut {
    stroke: rgba(0,0,0,.4);
    opacity: 0.0;
    fill: #0000;
}
:global .ct-chart-donut .ct-fill-donut .ct-slice-donut{
    stroke: rgba(0,0,0,.4);
    opacity: 1;
    fill: #0000;
}
:global .ct-fill-donut-label h3{
    font-weight: bolder;
}
:global .ct-fill-donut-label .small {
    font-size: 0.6em;
}
:global .ct-fill-donut-label i { 
    font-size: 1.5em;
    color: rgba(0,0,0,.4);
}