:global .js-plotly-plot {
  height: 100%;
}

:global #script-container {
  background-color: #f3f7ff;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

:global select {
  display: block;
}

#oursci-loader {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

table.dataTable {
  margin: unset !important;
}

td,
th {
  text-align: right;
}

.material-icons {
  display: inline-flex;
  vertical-align: middle;
}

.button {
  cursor: pointer;
}

.stats-table td {
  margin: 0px;
  padding: 0px;
  padding-left: 10px;
}

/*
[type="checkbox"] {
  position: static !important;
  left: 0px !important;
  opacity: 1 !important;
  pointer-events: unset !important;
}
*/

.use-cache-header {
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  background-color: #222;
}

.stats-table {
  font-family: monospace;
}

.info-table-key {
  text-align: left;
}
